$breakpoints: (
        "xxs": 320px,
        "xs": 480px,
        "sm": 768px,
        "md": 1024px,
        "lg": 1280px,
        "xl": 1440px,
);

@mixin background-with-gradients($image-url) {
  background:
          radial-gradient(circle at center, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 58%, rgba(0, 0, 0, 0.9) 100%),
          linear-gradient(180deg, rgb(0, 0, 0) 2%, rgba(0, 0, 0, 0.1) 50%, rgb(0, 0, 0) 95%),
          linear-gradient(90deg, rgba(255, 255, 255, 0.2) 5%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.2) 100%),
          url(#{$image-url});
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin respond-to($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if $size {
    @media (min-width: $size) {
      @content;
    }
  } @else {
    @warn "Breakpoint #{$breakpoint} not found in $breakpoints map.";
  }
}

@mixin between($min, $max) {
  $min-size: map-get($breakpoints, $min);
  $max-size: map-get($breakpoints, $max);
  @if $min-size and $max-size {
    @media (min-width: $min-size) and (max-width: $max-size) {
      @content;
    }
  } @else {
    @warn "Breakpoints #{$min} or #{$max} not found in $breakpoints map.";
  }
}
